<!doctype html>

<html lang="en">

{{> head }}

<body>
  <nav class="main-nav" style="display:none;" role="navigation">
    {{> navigation }}
  </nav>
  <div class="main-content" role="main">
    {{> banner }}

    {{> body }}
  </div>

  {{> scripts }}
</body>
</html>