/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
._*
~.sass-cache

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.DS_Store
*._*

pids
logs
results

npm-debug.log
node_modules
src/bower_modules

*.sublime-*
