/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../../../app/assets/components/bootstrap-sass/lib/_buttons.scss */
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* line 23, ../../../app/assets/components/bootstrap-sass/lib/_buttons.scss */
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* line 27, ../../../app/assets/components/bootstrap-sass/lib/_buttons.scss */
.btn:hover, .btn:focus {
  color: #333;
  text-decoration: none;
}
/* line 33, ../../../app/assets/components/bootstrap-sass/lib/_buttons.scss */
.btn:active, .btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/* line 40, ../../../app/assets/components/bootstrap-sass/lib/_buttons.scss */
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 55, ../../../app/assets/components/bootstrap-sass/lib/_buttons.scss */
.btn-default {
  color: #333;
  background-color: transparent;
  border-color: #ccc;
}
/* line 467, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
  color: #333;
  background-color: transparent;
  border-color: #adadad;
}
/* line 475, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.open .btn-default.dropdown-toggle {
  color: #333;
  background-color: transparent;
  border-color: #adadad;
}
/* line 480, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.btn-default:active, .btn-default.active {
  background-image: none;
}
/* line 484, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.open .btn-default.dropdown-toggle {
  background-image: none;
}
/* line 490, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default[disabled].active, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
  background-color: transparent;
  border-color: #ccc;
}

/* line 58, ../../../app/assets/components/bootstrap-sass/lib/_buttons.scss */
.btn-primary {
  color: #fff;
  background-color: #add71c;
  border-color: #9bc019;
}
/* line 467, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  color: #fff;
  background-color: #90b317;
  border-color: #6f8a12;
}
/* line 475, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.open .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #90b317;
  border-color: #6f8a12;
}
/* line 480, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.btn-primary:active, .btn-primary.active {
  background-image: none;
}
/* line 484, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.open .btn-primary.dropdown-toggle {
  background-image: none;
}
/* line 490, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
  background-color: #add71c;
  border-color: #9bc019;
}

/* line 62, ../../../app/assets/components/bootstrap-sass/lib/_buttons.scss */
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
/* line 467, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active {
  color: #fff;
  background-color: #ed9c28;
  border-color: #d58512;
}
/* line 475, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.open .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #ed9c28;
  border-color: #d58512;
}
/* line 480, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.btn-warning:active, .btn-warning.active {
  background-image: none;
}
/* line 484, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.open .btn-warning.dropdown-toggle {
  background-image: none;
}
/* line 490, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled]:active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}

/* line 66, ../../../app/assets/components/bootstrap-sass/lib/_buttons.scss */
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
/* line 467, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
  color: #fff;
  background-color: #d2322d;
  border-color: #ac2925;
}
/* line 475, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.open .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #d2322d;
  border-color: #ac2925;
}
/* line 480, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.btn-danger:active, .btn-danger.active {
  background-image: none;
}
/* line 484, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.open .btn-danger.dropdown-toggle {
  background-image: none;
}
/* line 490, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled]:active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}

/* line 70, ../../../app/assets/components/bootstrap-sass/lib/_buttons.scss */
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
/* line 467, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
  color: #fff;
  background-color: #47a447;
  border-color: #398439;
}
/* line 475, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.open .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #47a447;
  border-color: #398439;
}
/* line 480, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.btn-success:active, .btn-success.active {
  background-image: none;
}
/* line 484, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.open .btn-success.dropdown-toggle {
  background-image: none;
}
/* line 490, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:active, .btn-success[disabled].active, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

/* line 74, ../../../app/assets/components/bootstrap-sass/lib/_buttons.scss */
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
/* line 467, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active {
  color: #fff;
  background-color: #39b3d7;
  border-color: #269abc;
}
/* line 475, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.open .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #39b3d7;
  border-color: #269abc;
}
/* line 480, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.btn-info:active, .btn-info.active {
  background-image: none;
}
/* line 484, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.open .btn-info.dropdown-toggle {
  background-image: none;
}
/* line 490, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active, .btn-info[disabled].active, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}

/* line 83, ../../../app/assets/components/bootstrap-sass/lib/_buttons.scss */
.btn-link {
  color: #add71c;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
}
/* line 89, ../../../app/assets/components/bootstrap-sass/lib/_buttons.scss */
.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 96, ../../../app/assets/components/bootstrap-sass/lib/_buttons.scss */
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
  border-color: transparent;
}
/* line 102, ../../../app/assets/components/bootstrap-sass/lib/_buttons.scss */
.btn-link:hover, .btn-link:focus {
  color: #779313;
  text-decoration: underline;
  background-color: transparent;
}
/* line 110, ../../../app/assets/components/bootstrap-sass/lib/_buttons.scss */
.btn-link[disabled]:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus {
  color: #999999;
  text-decoration: none;
}

/* line 122, ../../../app/assets/components/bootstrap-sass/lib/_buttons.scss */
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

/* line 126, ../../../app/assets/components/bootstrap-sass/lib/_buttons.scss */
.btn-sm,
.btn-xs {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

/* line 131, ../../../app/assets/components/bootstrap-sass/lib/_buttons.scss */
.btn-xs {
  padding: 1px 5px;
}

/* line 139, ../../../app/assets/components/bootstrap-sass/lib/_buttons.scss */
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

/* line 147, ../../../app/assets/components/bootstrap-sass/lib/_buttons.scss */
.btn-block + .btn-block {
  margin-top: 5px;
}

/* line 155, ../../../app/assets/components/bootstrap-sass/lib/_buttons.scss */
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

/* line 10, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

/* line 16, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 0;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

/* line 28, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* line 38, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 43, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  /* IE8-9 */
  line-height: normal;
}

/* line 51, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
input[type="file"] {
  display: block;
}

/* line 56, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
select[multiple],
select[size] {
  height: auto;
}

/* line 62, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
select optgroup {
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
}

/* line 69, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 79, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}

/* line 86, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  vertical-align: middle;
}

/* line 118, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
.form-control {
  display: block;
  width: 100%;
  height: 14px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
/* line 833, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
/* line 57, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.form-control:-moz-placeholder {
  color: #999999;
}
/* line 58, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.form-control::-moz-placeholder {
  color: #999999;
}
/* line 59, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.form-control:-ms-input-placeholder {
  color: #999999;
}
/* line 60, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.form-control::-webkit-input-placeholder {
  color: #999999;
}
/* line 147, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}

/* line 158, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
textarea.form-control {
  height: auto;
}

/* line 168, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
.form-group {
  margin-bottom: 15px;
}

/* line 177, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
.radio,
.checkbox {
  display: block;
  min-height: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  vertical-align: middle;
}
/* line 185, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
.radio label,
.checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

/* line 192, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

/* line 199, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}

/* line 205, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}

/* line 214, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}

/* line 229, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
input[type="radio"][disabled], fieldset[disabled] input[type="radio"],
input[type="checkbox"][disabled], fieldset[disabled]
input[type="checkbox"],
.radio[disabled], fieldset[disabled]
.radio,
.radio-inline[disabled], fieldset[disabled]
.radio-inline,
.checkbox[disabled], fieldset[disabled]
.checkbox,
.checkbox-inline[disabled], fieldset[disabled]
.checkbox-inline {
  cursor: not-allowed;
}

/* line 848, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

/* line 853, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
select.input-sm {
  height: 30px;
  line-height: 30px;
}

/* line 858, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
textarea.input-sm {
  height: auto;
}

/* line 848, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.input-lg {
  height: 45px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

/* line 853, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
select.input-lg {
  height: 45px;
  line-height: 45px;
}

/* line 858, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
textarea.input-lg {
  height: auto;
}

/* line 792, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
  color: #c09853;
}
/* line 801, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.has-warning .form-control {
  border-color: #c09853;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 804, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.has-warning .form-control:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}
/* line 811, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.has-warning .input-group-addon {
  color: #c09853;
  border-color: #c09853;
  background-color: #fcf8e3;
}

/* line 792, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #b94a48;
}
/* line 801, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.has-error .form-control {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 804, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.has-error .form-control:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
/* line 811, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.has-error .input-group-addon {
  color: #b94a48;
  border-color: #b94a48;
  background-color: #f2dede;
}

/* line 792, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
  color: #468847;
}
/* line 801, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.has-success .form-control {
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 804, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.has-success .form-control:focus {
  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}
/* line 811, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.has-success .input-group-addon {
  color: #468847;
  border-color: #468847;
  background-color: #dff0d8;
}

/* line 265, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
.form-control-static {
  margin-bottom: 0;
}

/* line 275, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

@media (min-width: 768px) {
  /* line 300, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  /* line 307, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
  .form-inline .form-control {
    display: inline-block;
  }
  /* line 314, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  /* line 321, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0;
  }
}

/* line 338, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
/* line 349, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
/* line 20, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.form-horizontal .form-group:before, .form-horizontal .form-group:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 25, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.form-horizontal .form-group:after {
  clear: both;
}
/* line 353, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
.form-horizontal .form-control-static {
  padding-top: 7px;
}
@media (min-width: 768px) {
  /* line 359, ../../../app/assets/components/bootstrap-sass/lib/_forms.scss */
  .form-horizontal .control-label {
    text-align: right;
  }
}

/* line 9, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
p {
  margin: 0 0 0;
}

/* line 12, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
.lead {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
}
@media (min-width: 768px) {
  /* line 12, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
  .lead {
    font-size: 21px;
  }
}

/* line 28, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
small,
.small {
  font-size: 85%;
}

/* line 32, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
cite {
  font-style: normal;
}

/* line 35, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
.text-muted {
  color: #999999;
}

/* line 38, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
.text-primary {
  color: #add71c;
}
/* line 40, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
.text-primary:hover {
  color: #89aa16;
}

/* line 44, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
.text-warning {
  color: #c09853;
}
/* line 46, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
.text-warning:hover {
  color: #a47e3c;
}

/* line 50, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
.text-danger {
  color: #b94a48;
}
/* line 52, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
.text-danger:hover {
  color: #953b39;
}

/* line 56, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
.text-success {
  color: #468847;
}
/* line 58, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
.text-success:hover {
  color: #356635;
}

/* line 62, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
.text-info {
  color: #3a87ad;
}
/* line 64, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
.text-info:hover {
  color: #2d6987;
}

/* line 70, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
.text-left {
  text-align: left;
}

/* line 71, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
.text-right {
  text-align: right;
}

/* line 72, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
.text-center {
  text-align: center;
}

/* line 78, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
/* line 85, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
h1 small,
h1 .small, h2 small,
h2 .small, h3 small,
h3 .small, h4 small,
h4 .small, h5 small,
h5 .small, h6 small,
h6 .small,
.h1 small,
.h1 .small, .h2 small,
.h2 .small, .h3 small,
.h3 .small, .h4 small,
.h4 .small, .h5 small,
.h5 .small, .h6 small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}

/* line 93, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 99, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
h1 small,
h1 .small,
h2 small,
h2 .small,
h3 small,
h3 .small {
  font-size: 65%;
}

/* line 104, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 110, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
h4 small,
h4 .small,
h5 small,
h5 .small,
h6 small,
h6 .small {
  font-size: 75%;
}

/* line 116, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
h1, .h1 {
  font-size: 56px;
}

/* line 117, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
h2, .h2 {
  font-size: 30px;
}

/* line 118, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
h3, .h3 {
  font-size: 24px;
}

/* line 119, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
h4, .h4 {
  font-size: 18px;
}

/* line 120, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
h5, .h5 {
  font-size: 14px;
}

/* line 121, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
h6, .h6 {
  font-size: 12px;
}

/* line 127, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
.page-header {
  padding-bottom: -1;
  margin: 0 0 0;
  border-bottom: 1px solid #eeeeee;
}

/* line 139, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 143, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}

/* line 152, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
.list-unstyled, .list-inline {
  padding-left: 0;
  list-style: none;
}

/* line 161, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
/* line 166, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
.list-inline > li:first-child {
  padding-left: 0;
}

/* line 173, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
dl {
  margin-bottom: 0;
}

/* line 176, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
dt,
dd {
  line-height: 1.42857;
}

/* line 180, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
dt {
  font-weight: bold;
}

/* line 183, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
dd {
  margin-left: 0;
}

@media (min-width: 768px) {
  /* line 194, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  /* line 201, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
  .dl-horizontal dd {
    margin-left: 180px;
  }
  /* line 20, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
  .dl-horizontal dd:before, .dl-horizontal dd:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  /* line 25, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
  .dl-horizontal dd:after {
    clear: both;
  }
}
/* line 212, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}

/* line 218, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

/* line 224, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
blockquote {
  padding: 0 0;
  margin: 0 0 0;
  border-left: 5px solid #eeeeee;
}
/* line 228, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
blockquote p {
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.25;
}
/* line 233, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
blockquote p:last-child {
  margin-bottom: 0;
}
/* line 236, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
blockquote small {
  display: block;
  line-height: 1.42857;
  color: #999999;
}
/* line 240, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
blockquote small:before {
  content: '\2014 \00A0';
}
/* line 246, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}
/* line 251, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
blockquote.pull-right p,
blockquote.pull-right small,
blockquote.pull-right .small {
  text-align: right;
}
/* line 258, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
blockquote.pull-right small:before,
blockquote.pull-right .small:before {
  content: '';
}
/* line 261, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
blockquote.pull-right small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}

/* line 269, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
blockquote:before,
blockquote:after {
  content: "";
}

/* line 275, ../../../app/assets/components/bootstrap-sass/lib/_type.scss */
address {
  margin-bottom: 0;
  font-style: normal;
  line-height: 1.42857;
}

/* line 20, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 25, ../../../app/assets/components/bootstrap-sass/lib/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 12, ../../../app/assets/components/bootstrap-sass/lib/_utilities.scss */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 15, ../../../app/assets/components/bootstrap-sass/lib/_utilities.scss */
.pull-right {
  float: right !important;
}

/* line 18, ../../../app/assets/components/bootstrap-sass/lib/_utilities.scss */
.pull-left {
  float: left !important;
}

/* line 27, ../../../app/assets/components/bootstrap-sass/lib/_utilities.scss */
.hide {
  display: none !important;
}

/* line 30, ../../../app/assets/components/bootstrap-sass/lib/_utilities.scss */
.show {
  display: block !important;
}

/* line 33, ../../../app/assets/components/bootstrap-sass/lib/_utilities.scss */
.invisible {
  visibility: hidden;
}

/* line 36, ../../../app/assets/components/bootstrap-sass/lib/_utilities.scss */
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 45, ../../../app/assets/components/bootstrap-sass/lib/_utilities.scss */
.hidden {
  display: none !important;
  visibility: hidden !important;
}

/* line 54, ../../../app/assets/components/bootstrap-sass/lib/_utilities.scss */
.affix {
  position: fixed;
}

/* line 1, ../../../app/assets/scss/_base.scss */
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 5, ../../../app/assets/scss/_base.scss */
.btn {
  text-decoration: none;
}

/* line 1, ../../../app/assets/scss/_helpers.scss */
.shim {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
}

/* line 1, ../../../app/assets/scss/_banner.scss */
.profile-banner {
  position: relative;
  width: 100%;
  background: url('/assets/images/profile-bg.jpg') no-repeat center center;
  max-width: 100%;
  height: auto;
  color: #fff;
}
/* line 9, ../../../app/assets/scss/_banner.scss */
.profile-banner .container {
  position: absolute;
  padding: 15% 0 0;
  margin: 60px;
}
/* line 14, ../../../app/assets/scss/_banner.scss */
.profile-banner h2 {
  font-size: 18px;
}
/* line 17, ../../../app/assets/scss/_banner.scss */
.profile-banner nav {
  margin-top: 60px;
}
/* line 20, ../../../app/assets/scss/_banner.scss */
.profile-banner span {
  color: #add71c;
}
/* line 23, ../../../app/assets/scss/_banner.scss */
.profile-banner .btn-default {
  color: #fff;
}
/* line 25, ../../../app/assets/scss/_banner.scss */
.profile-banner .btn-default:hover {
  background: #add71c;
}
