<head>
  <meta charset="utf-8">

  <title>Lori Hutchek</title>
  <meta name="author" content="Lori Hutchek">
  <meta name="description" content="This is the portfolio site of Lori Hutchek. She has extensive experience and has been involved in the development community for 18 years.">
  

  {{#each page_assets.css}}
    <link href="{{this}}" rel="stylesheet" />
  {{/each}}

  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
