
.icon-glass:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\e802'; } /* '' */
.icon-github:before { content: '\e803'; } /* '' */
.icon-code:before { content: '\e804'; } /* '' */
.icon-heart:before { content: '\e805'; } /* '' */
.icon-heart-empty:before { content: '\e806'; } /* '' */
.icon-star:before { content: '\e807'; } /* '' */
.icon-star-empty:before { content: '\e808'; } /* '' */
.icon-linkedin-rect:before { content: '\e809'; } /* '' */
.icon-star-half-alt:before { content: '\e80a'; } /* '' */
.icon-star-half:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e80c'; } /* '' */
.icon-ok:before { content: '\e80d'; } /* '' */
.icon-ok-circled:before { content: '\e80e'; } /* '' */
.icon-th:before { content: '\e80f'; } /* '' */
.icon-th-list:before { content: '\e810'; } /* '' */
.icon-th-large:before { content: '\e811'; } /* '' */
.icon-facebook-rect:before { content: '\e812'; } /* '' */
.icon-facebook:before { content: '\e813'; } /* '' */
.icon-github-text:before { content: '\e814'; } /* '' */
.icon-googleplus-rect:before { content: '\e815'; } /* '' */
.icon-camera-alt:before { content: '\e816'; } /* '' */
.icon-instagram:before { content: '\e817'; } /* '' */
.icon-instagram-filled:before { content: '\e818'; } /* '' */
.icon-picture:before { content: '\e819'; } /* '' */
.icon-plus-squared:before { content: '\e81a'; } /* '' */
.icon-plus-squared-alt:before { content: '\e81b'; } /* '' */
.icon-minus-squared:before { content: '\e81c'; } /* '' */
.icon-minus-squared-alt:before { content: '\e81d'; } /* '' */
.icon-cancel:before { content: '\e81e'; } /* '' */
.icon-cancel-circled:before { content: '\e81f'; } /* '' */
.icon-info-circled:before { content: '\e820'; } /* '' */
.icon-link:before { content: '\e821'; } /* '' */
.icon-unlink:before { content: '\e822'; } /* '' */
.icon-comment:before { content: '\e823'; } /* '' */
.icon-cog-alt:before { content: '\e824'; } /* '' */
.icon-attention-alt:before { content: '\e825'; } /* '' */
.icon-attention:before { content: '\e826'; } /* '' */
.icon-attention-circled:before { content: '\e827'; } /* '' */
.icon-location:before { content: '\e828'; } /* '' */
.icon-comment-empty:before { content: '\e829'; } /* '' */
.icon-chat-empty:before { content: '\e82a'; } /* '' */
.icon-chat:before { content: '\e82b'; } /* '' */
.icon-left-dir:before { content: '\e82c'; } /* '' */
.icon-up-dir:before { content: '\e82d'; } /* '' */
.icon-down-dir:before { content: '\e82e'; } /* '' */
.icon-right-dir:before { content: '\e82f'; } /* '' */
.icon-down-open:before { content: '\e830'; } /* '' */
.icon-left-open:before { content: '\e831'; } /* '' */
.icon-right-open:before { content: '\e832'; } /* '' */
.icon-up-open:before { content: '\e833'; } /* '' */
.icon-lightbulb:before { content: '\e834'; } /* '' */
.icon-flash:before { content: '\e835'; } /* '' */
.icon-sun:before { content: '\e836'; } /* '' */
.icon-cloud:before { content: '\e837'; } /* '' */
.icon-umbrella:before { content: '\e838'; } /* '' */
.icon-moon:before { content: '\e839'; } /* '' */
.icon-ellipsis:before { content: '\e83a'; } /* '' */
.icon-ellipsis-vert:before { content: '\e83b'; } /* '' */
.icon-off:before { content: '\e83c'; } /* '' */
.icon-book:before { content: '\e83d'; } /* '' */
.icon-check:before { content: '\e83e'; } /* '' */
.icon-tint:before { content: '\e83f'; } /* '' */
.icon-bug:before { content: '\e840'; } /* '' */
.icon-beaker:before { content: '\e841'; } /* '' */
.icon-magic:before { content: '\e842'; } /* '' */
.icon-fire:before { content: '\e843'; } /* '' */
.icon-chart-bar:before { content: '\e844'; } /* '' */
.icon-floppy:before { content: '\e845'; } /* '' */
.icon-fork:before { content: '\e846'; } /* '' */
.icon-rebel:before { content: '\e847'; } /* '' */
.icon-linkedin-1:before { content: '\e848'; } /* '' */
.icon-jsfiddle:before { content: '\e849'; } /* '' */
.icon-html5:before { content: '\e84a'; } /* '' */
.icon-google:before { content: '\e84b'; } /* '' */
.icon-github-circled:before { content: '\e84c'; } /* '' */
.icon-github-1:before { content: '\e84d'; } /* '' */
.icon-git:before { content: '\e84e'; } /* '' */
.icon-wordpress:before { content: '\e84f'; } /* '' */
.icon-twitter:before { content: '\e850'; } /* '' */
.icon-tumblr:before { content: '\e851'; } /* '' */
.icon-pinterest-circled:before { content: '\e852'; } /* '' */
.icon-spinner:before { content: '\e853'; } /* '' */
.icon-sort:before { content: '\e854'; } /* '' */
.icon-laptop:before { content: '\e855'; } /* '' */
.icon-tablet:before { content: '\e856'; } /* '' */
.icon-mobile:before { content: '\e857'; } /* '' */
.icon-desktop:before { content: '\e858'; } /* '' */
.icon-target:before { content: '\e859'; } /* '' */
.icon-phone:before { content: '\e85a'; } /* '' */
.icon-trash:before { content: '\e85b'; } /* '' */
.icon-share-squared:before { content: '\e85c'; } /* '' */
.icon-mail-alt:before { content: '\e85d'; } /* '' */
.icon-female:before { content: '\e85e'; } /* '' */
.icon-help:before { content: '\e85f'; } /* '' */
.icon-help-circled:before { content: '\e860'; } /* '' */
.icon-home:before { content: '\e861'; } /* '' */
.icon-link-ext:before { content: '\e862'; } /* '' */
.icon-link-ext-alt:before { content: '\e863'; } /* '' */
.icon-pin:before { content: '\e864'; } /* '' */
.icon-bookmark-empty:before { content: '\e865'; } /* '' */
.icon-bookmark:before { content: '\e866'; } /* '' */
.icon-download:before { content: '\e867'; } /* '' */
.icon-forward:before { content: '\e868'; } /* '' */
.icon-quote-right:before { content: '\e869'; } /* '' */
.icon-quote-left:before { content: '\e86a'; } /* '' */
.icon-export:before { content: '\e86b'; } /* '' */
.icon-export-alt:before { content: '\e86c'; } /* '' */
.icon-direction:before { content: '\e86d'; } /* '' */
.icon-retweet:before { content: '\e86e'; } /* '' */
.icon-pencil:before { content: '\e86f'; } /* '' */
.icon-wrench:before { content: '\e870'; } /* '' */
.icon-phone-squared:before { content: '\e871'; } /* '' */
.icon-doc-text:before { content: '\e872'; } /* '' */
.icon-menu:before { content: '\e873'; } /* '' */
.icon-cw:before { content: '\e874'; } /* '' */
.icon-ccw:before { content: '\e875'; } /* '' */
.icon-arrows-cw:before { content: '\e876'; } /* '' */